<h1>Sub-categories of <%= @category.name %></h1>

<table class='table table-striped'>
  <tr>
    <th>Name</th>
    <th>Parent Name</th>
    <th>Actions</th>
  </tr>

<% @sub_categories.each do |sub_category| %>
  <tr>
    <td><%= sub_category.name %></td>
    <td>
      <%= sub_category.parent_name %>
    </td>
    <td>
      <%= link_to 'Show', [@category, sub_category] %>
      <%= link_to 'Edit', edit_category_sub_category_path(@category, sub_category) %>
      <%= link_to 'Destroy', [@category, sub_category], method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<ul class='list-group'>
  <% @sub_categories.each do |sub_category| %>
    <li class='list-group-item'><%= sub_category.name %></li>
  <% end %>
</ul>

<br />

<%= link_to 'New Sub category', new_category_sub_category_path(@category) %> |
<%= link_to "Back to #{@category.name}", @category %>
